version: '3.3'
services:
  mysql:
    image: mysql:8.0.36
    environment:
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - 3306:3306
    volumes:
      - ./WINDOW_FUNCTIONS.sql:/docker-entrypoint-initdb.d/WINDOW_FUNCTIONS.sql